body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    color: #333;
    background-color: #f0f0f0;
    display: inline;
    
    
}
header {
    background-image: url(/html/images/clothebanner.webp);
    background-size: contain;
  background-position: center;
  height: 100%;
    background-color: #e0e0e0;
    color: #333;

         transition-property: color, 
  	    	 width, background, border-radius;
  			transition-duration: .5s;
  			transition-timing-function: linear;
  			transition-delay: .5s;

}
nav {
    background-image: url(/html/images/clothebanner.webp);

    background-color:#80dfa9;
    color: white;
}
main {
    
    background-color: #87ceeb;
    font-size: 90%;
    color: #000;
    box-sizing: border-box;
    margin: 5px;
    border: 20px solid #df8b8b;
    padding: 15px;
    margin: 0 auto;


    transition-property: color, 
  	    	 width, background, border-radius;
  			transition-duration: .5s;
  			transition-timing-function: linear;
  			transition-delay: .5s;
}
footer {
    background-color: #d3d3d3;
    color: #333;
    font-size: 50%;
}
ul{
    display: flex;
    justify-content:space-evenly;
}
li {
    display: inline-block;
    /* width: 20%; */
    /* text-decoration: underline; */
    color: #000;
}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #042381;
    text-emphasis-style: double-circle;
    

}
p {
    line-height: 1.6;
    color: #333;
}
nav a{
    color:#9a1846;
    text-decoration:none;
    
}
a {
    color: #9a1846;
}
a:hover {
    text-decoration: underline;
}
.current{
    text-transform:uppercase;
    background-color: #87ceeb;
}
img{
    
    border:8px solid #c77fa0;
    border-radius: 25%;
    padding: 8px;
    margin: auto;
}
main img:hover{
    color: #ffffff;
    width: 450px;
    border-radius: 50%;
}
header img{
    border:2px #0e0611 solid;
    border-radius: 25%;
}
header img:hover{
    color: #ffffff;
    width:350px;
      border-radius: 50%;
}
.skip-main {
    position: absolute;
    top: -50px; /* Initially hides it above the viewport */
    left: 10px;
    background: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: top 0.3s ease-in-out;
  }
  
  .skip-main:focus {
    top: 10px; /* Moves it into view when focused */
  }
  .grid {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 5%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .grid img {
    width: 100%;
    /* Makes images fully fit within their grid cells */
    height: auto;
    /* Maintains aspect ratio */
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 45px;
  }
  
  .flex img {
    width: 15%;
    height: auto;
  } 
  img:nth-child(even){
    border: 8px solid black;
} 
